@media (max-width: 768px) {
    div.golden {
        font-size: 30px; /* Diminui o tamanho do texto */
    }

    button.botao {
        padding: 8px 16px;
        font-size: 14px;
    }

    nav {
        flex-direction: column; /* Menu em coluna no celular */
        align-items: center;
    }

    nav > a {
        display: block;
        width: 90%;
        text-align: center;
        padding: 12px;
    }
}
